.checkbox-container {
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;

    &:hover .checkbox {
        background-color: #eee;
        transition: background-color 200ms linear;
    }

    .checkbox {
        margin-right: 10px;
        position: relative;
        width: 13px;
        height: 13px;
        background-color: #fafafa;
        border: 1px solid #ddd;
        transition: background-color 200ms linear;

        .check {
            position: absolute;
            top: -6px;
            left: -2px;

            i {
                color: #be4bdb;
                font-size: 16px;
            }
        }
    }
}