.place {
    display: flex;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 200ms linear;
    margin: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: box-shadow 300ms;

    &.active {
        background-color: #fafafa;
    }

    &:hover {
        transition: background-color 200ms linear;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        transition: box-shadow 300ms;
    }

    &:active {
        background-color: #fafafa;
    }

    &:active .place-info {
        transform: scale(.99);
    }

    .place-photo {
        width: 90px;
        height: 90px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 18px;
        margin: 20px;
        border-radius: 5px;
    }

    .place-info {
        margin: auto 0;
        padding-top: 10px;
        width: calc(100% - 130px);
        display: flex;
        justify-content: space-between;

        .name-address {
            .name {
                margin-bottom: 5px;
                font-size: 15px;
                font-weight: 600;
            }

            .address {
                color: #666;
                font-size: 13px;
                font-weight: 500;
            }
        }

        .rating {
            margin-right: 20px;
            padding: 11px;
            background-color: #eee;
            border-radius: 50px;
            font-weight: 600;

            &.high {
                color: #eb6262;
                background-color: #fce6e6;
            }

            .new {
                font-size: 10px;
            }
        }
    } 
}